* {
    background-color: aliceblue;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px;
    grid-template-areas: 
    'top top top'
    'left center right';
    width: 360px;

}

.form {
    grid-area: center;
}

h1 {
    grid-area: top;
    font-family: 'Orelega One', cursive;
}

textarea {
    background-color: #e0def4;
    border-radius: 10%;
    color: #eb6f92;
    border-style: dashed;
}


.FormContainer {
  padding:50px;
  color: #eb6f92;
}

#name {
    color: #eb6f92;

}

#email {
    margin: 10px;
    color: #eb6f92;
}

#send {
    margin: 10px;
    color: #c4a7e7;
    border-style: ridge;
}